body {
  height: 100vh;
  text-rendering: optimizeLegibility !important; /* Get a better definition to the font. !important = overwrite any font. */
  -webkit-font-smoothing: antialiased !important; /* Reduce the visual defects that occur when high-resolution images are presented in a lower resolution. */
}

.black {
  background-color: black;
}

/* img {
  height: 80vh;
} */

.footer {
  display: flex;
  height: 8.5em;
  justify-content: center;
  align-items: center;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
